<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Wikis
        <% if user_signed_in? %>
          <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
        <% end %>
      </h1>
      <% @wikis.each do |wiki| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to wiki.title, wiki %>
            </h4>
            <small>
              <%= markdown(wiki.body) %>
            </small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
